h1 {
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: #fe4880;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 0 0 #000;
  margin-bottom: 50px;
  color: #fff;
}
